@{
    ViewData["Title"] = "Home Page";
}



<div class="jumbotron">
    <h1>Teancum 1st Ward</h1>
      <h2> Sacrament Meeting Planner</h2>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to sacrament meeting planning App </h2>
        <p>
            This is a sample app that will help in the planning
            of sacrament meeting in the wards/branches of the
            Church of Jesus Chrsit of latter Day Saints.
            It uses ASP.NET Core Razor Pages web app.
        </p>
    </div>
    <div class="col-md-4">
        <h2>How to start?</h2>
        <p>Just click on the tab Meeting and you get started.</p>



        <img src="https://www.mormonnewsroom.org/media/blog/Philippine_chapel.jpg" alt="Mormon Newsroom Courtesy" width="200" height="250">
    </div>

</div>
