@{
    ViewData["Title"] = "Copyright";
}
<h1>@ViewData["Title"]</h1>

<p>
    This is a protected site. <br />
    All Copyright laws do apply.
</p>



<address>

    <p> <strong> Contact us </strong> </p>

    Kerving H. Joseph<br />
    Teancum 1st Ward<br />
    Rexburg, ID 83460<br />
    <abbr title="Phone">P:</abbr>
    203.496.5333
</address>

<address>
    <strong>Support:</strong> <a href="KervingHjoseph@gmail.com">Support@Josephk.com</a><br />

</address>
